.select {
  /* This will create a positioning context for the list of options;
     adding this to .select:focus-within will be a better option when fully supported
  */
  position: relative;
 
  /* This will make our control become part of the text flow and sizable at the same time */
  display : inline-block;
}

.select .active,
.select:focus {
  outline: none;
 
  /* This box-shadow property is not exactly required, however it's imperative to ensure
     active state is visible, especially to keyboard users, that we use it as a default value. */
  box-shadow: 0 0 3px 1px #227755;
}